.container {
  position: fixed;
  height: 200px;
  width: 500px;
  left: 0;
  bottom: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  word-break: break-all;
}