.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;

  .start-game-button {
    padding: 12px 32px;
    margin-bottom: 12px;
  }
}