.grid-paper {
  padding: 32px 16px;
  text-align: center;
  word-break: break-all;
}

.score-row {
  position: sticky;
  top: 0;
  z-index: 10;

  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
  margin-bottom: 16px;

  .score-item {
    display: flex;
    flex-basis: 40px;
    flex-grow: 1;
    height: 56px;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.team-icon:global(.MuiSvgIcon-root) {
  font-size: 1rem;
  margin-right: 4px;
}

.winner-icon:global(.MuiSvgIcon-root) {
  font-size: 1.2rem;
  margin-left: 4px;
}
