.lobby-container {
  display: flex;
  flex-direction: column;

  :global(.MuiOutlinedInput-notchedOutline) {
    border-color: #FF8E53;
  }

  :global(.MuiOutlinedInput-root):hover :global(.MuiOutlinedInput-notchedOutline) {
    border-color: #FE6B8B;
  }

  .icon-button {
    width: 56px;
    height: 56px;
    margin-left: 16px;
  }

  .user-name-text-field {
    flex-grow: 1;
  }

  .row {
    flex-grow: 1;
    display: flex;
    margin-bottom: 16px;
  }

  .second-row {
    margin-right: -4px;
    margin-left: -4px;

    > * {
      flex: 1 42px;
      margin-right: 4px;
      margin-left: 4px;
      height: 40px;
    }
  }

  .list-icon {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 8px;
  }

  .status-icon {
    margin-left: 8px;
  }
}

.start-game-btn:global(.MuiButtonBase-root) {
  position: sticky;
  bottom: 8px;
}